@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*, *::after, *::before {
box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.64;
    background-color: #EEEFF1;
    margin: 0;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.button {
    background-color: #34547A;
    color: #FFF;
    padding: 25px 41px;
    font-family: "Robobto", sans-serif;
    font-size: 16px;
    line-height: 0.93;
    letter-spacing: 0.05em;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

p {
    color: #727272;
    margin: 0;
}

/* ARTICLE */

.article {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.article__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 50px 0;
}


/* HEADER */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    background-color: #EEEFF1;
}

.header-inner__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding: 20px;
    max-width: 612px;
    width: 100%;
}

.nav-header-inner__link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.link-nav-header-inner--active {
    color: #34547A;
}

/* INFO */

.info-inner {
    display: flex;
    justify-content:end;
    align-items:center;
    flex-wrap: wrap;
    gap: 130px;
    padding: 146px 0;
}

.info-inner__article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 60px;
    max-width: 540px;
    width: 100%;
}

.article-intro-inner__title {
    margin: 0;
    font-size: clamp(2.25rem, 2rem + 1.25vw, 3rem);
    font-weight: 500;
    line-height: 1;
}

/* ABOUT */

.about {
    background-color: #fff;
}

.about-inner {
    padding: 120px 0 100px 0;
}

/* PROJECTS */

.projects {
    background-color: #34547A;
}

.projects-inner {
    padding: 100px 0;
    display: flex;
    gap: 49px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-inner__item {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 140px;
    width: 100%;
}

.item-projects__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
}

.info-item-projects__number {
    margin: 0;
    font-size: 21px;
    line-height: 1;
}

.info-item-projects__text {
    line-height: 0.94;
    color: #FFF;
}

/* SKILLS */

.skills {
    background-color: #FFF;
}

.skills-inner {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 102px 0;
}

.skills-inner__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 445px;
    width: 100%;
}

.info-skills-inner__title {
    font-weight: 500;
    font-size: 32px;
    margin: 0;
    line-height: 1;
}

.info-skills-inner__items {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.item-skills-inner__text {
    margin-bottom: 20px;
}

.item-skills-inner__line {
    margin: 0;
    height: 4px;
    background-color: #C4C4C4;
    border: none;
}

.item-skills-inner__line::before {
    display: block;
    content:"";
    height: 4px;
    max-width: 345px;
    width: 100%;
    background-color: #34547A;
    border: none;
    z-index: 5;
}

.skills-inner__img {
    max-width: 555px;
    width: 100%;
}

/* VIDEO */

.video-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px;
    padding: 100px 0;

}

.video__player {
    max-width: 1110px;
    width: 100%;
    position: relative;
}

.player-video__img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video__player::before {
    position: absolute;
    content: "";
    background-color: hsla(0, 0%, 0%, 0.65);
    z-index: 2;
    width: 100%;
    height: 100%;

}

.player-video__button {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* сollage-projects */

.сollage-projects-inner {
    padding: 30px 0;
    background-color: #FFF;
}

.collage-projects-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
    line-height: 1;
}

.collage-projects-grid__cell {
    position: relative;
    z-index: 1;
}

.collage-projects-grid__cell::before {
    position: absolute;
    content: "";
    background-color: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;

}

.collage-projects-grid__cell:hover::before {
    background-color: #34547ACC;
}

.cell-projects-grid__eye {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.collage-projects-grid__cell:hover .cell-projects-grid__eye {
    display: block;
}
.cell-projects-grid__img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1279px) {

    .header-inner {
        padding: 60px;
    }

    .header-inner__nav {
        gap: 10px;
        justify-content: space-evenly;
    }

    .collage-projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .info-inner {
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .info-inner__article {
        align-items: center;
        text-align: center
        ;
    }
}

@media (max-width: 425px){
    .header-inner {
        padding: 40px;
    }

    .header-inner__nav {
        display: none;
    }

    .info-inner__img {
        min-width: 298px;
        width: 100%;
    }

    .article-intro-inner__text {
        line-height: 1.2;
    }

    .collage-projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
