@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    background-color: #EEEFF1;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.button {
    background-color: #34547A;
    color: #FFF;
    padding: 25px 41px;
    font-family: "Robobto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

p {
    color: #727272;
    line-height: 1.64;
}

/* ARTICLE */

.article {
    max-width: 538px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.article__title {
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    background-color: #EEEFF1;
}


.header__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    padding: 20px;
    max-width: 612px;
    width: 100%;
}

.nav-header__link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.link-nav-header--active {
    color: #34547A;
}

/* INFO */

.info-inner {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: 130px;
    padding: 146px 0;
}

.info__article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 60px;
    max-width: 540px;
    width: 100%;
}

.article-info__title {
    font-size: clamp(2.25rem, 2rem + 1.25vw, 3rem);
    font-weight: 500;
}

/* ABOUT */

.about {
    background-color: #fff;
}

.about-inner {
    padding: 120px 0 100px 0;
}

/* PROJECTS */

.projects {
    background-color: #34547A;
}

.projects-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 49px;
    padding: 100px 0;
}

.projects__item {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 140px;
    width: 100%;
}

.item-projects__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;
}

.info-item-projects__number {
    font-size: 21px;
}

.info-item-projects__text {
    line-height: 0.94;
    color: #FFF;
}

/* SKILLS */

.skills {
    background-color: #FFF;
}

.skills-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 102px 0;
}

.skills__info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 445px;
    width: 100%;
    margin-right: 20px;
}

.info-skills__title {
    font-weight: 500;
    font-size: 32px;
}

.info-skills__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-skills__text {
    margin-bottom: 20px;
}

.item-skills__line {
    height: 4px;
    background-color: #C4C4C4;
    border: none;
}

.item-skills__line::before {
    display: block;
    content: "";
    height: 4px;
    max-width: 345px;
    width: 80%;
    background-color: #34547A;
    border: none;
    z-index: 5;
}

.skills__img {
    max-width: 555px;
    width: 100%;
}

/* VIDEO */

.video-inner {
    gap: 58px;
    padding: 100px 0;

}

.video__player {
    max-width: 1110px;
    width: 100%;
    position: relative;
}

.player-video__img {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video__player::before {
    position: absolute;
    content: "";
    background-color: hsla(0, 0%, 0%, 0.65);
    z-index: 2;
    width: 100%;
    height: 100%;

}

.player-video__button {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* COLLAGE */

.сollage-inner {
    padding: 30px 0;
    background-color: #FFF;
}

.collage-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
}

.collage-grid__cell {
    position: relative;
    z-index: 1;
}

.collage-grid__cell::before {
    position: absolute;
    content: "";
    background-color: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;

}

.collage-grid__cell:hover::before {
    background-color: #34547ACC;
}

.cell-collage-grid__eye {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.collage-grid__cell:hover .cell-collage-grid__eye {
    display: block;
}

.cell-collage-grid__img {
    width: 100%;
    height: 100%;
}

/* section-form */

.section-form-inner {
    padding: 100px 0;
    gap: 65px;
}

.section-form__form {
    gap: 50px;
    max-width: 540px;
    width: 100%;
}

.form-section__elements {
    gap: 20px;
}

.elements-form__inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 540px;
    width: 100%;
}

.inputs-elements__label {
    display: none;
}

.inputs-elements__input {
    border: none;
    padding: 18px 20px;
    width: 255px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5F5D5D;
}

.elements-form__textarea {
    border: none;
    padding: 18px 20px;
    max-width: 540px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5F5D5D;
    resize: none;
}

.form-section__button {
    padding: 20px 53px;
    font-size: 14px;
}

/* FOOTER */

.footer {
    background-color: #34547A;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer__copyright {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright-footer__title {
    font-size: 21px;
    font-weight: 500;
    color: #FFF;
}

.copyright-footer__text {
    font-size: 13px;
    color: #FFF;
}

.footer__media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 175px;
    width: 100%;
}

/* LAPTOPS */

@media (max-width: 1279px) {
    .info-inner {
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .collage-grid {
        grid-template-columns: [one] 0.5fr [two] 0.5fr [three] 0.5fr [four] 0.5fr [five] 0.5fr [six] 0.5fr [seven];
    }
    .cell-collage-grid--order-1 {
        order: 1;
        grid-column-start: one;
        grid-column-end: three;
    }

    .cell-collage-grid--order-2 {
        order: 1;
        grid-column-start: three;
        grid-column-end: five;
    }

    .cell-collage-grid--order-3 {
        order: 1;
        grid-column-start: five;
        grid-column-end: seven;
    }

    .cell-collage-grid--order-4 {
        order: 1;
        grid-column-start: one;
        grid-column-end: three;
    }

    .cell-collage-grid--order-5 {
        order: 3;
        grid-column-start: five;
        grid-column-end: seven;
    }

    .cell-collage-grid--order-6 {
        order: 2;
        grid-column-start: three;
        grid-column-end: five;
    }

    .cell-collage-grid--order-7 {
        order: 5;
        grid-column-start: four;
        grid-column-end: six;
    }

    .cell-collage-grid--order-8 {
        order: 4;
        grid-column-start: two;
        grid-column-end: four;
    }
}

@media (max-width: 1006px) {
    .info__article {
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1079px) {
    .skills-inner {
        justify-content: center;
        gap: 100px;
    }

    .skills__info {
        margin: 0;
    }

    .info-skills__title {
        text-align: center;
    }
}


/* TABLETS */

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .collage-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .cell-collage-grid {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    .cell-collage-grid--order-3 {
        order: 1;
    }

    .cell-collage-grid--order-3 {
        order: 2;
    }

    .cell-collage-grid--order-3 {
        order: 4;
    }

    .cell-collage-grid--order-4 {
        order: 3;
    }

    .cell-collage-grid--order-5 {
        order: 6;
    }

    .cell-collage-grid--order-6 {
        order: 5;
    }

    .cell-collage-grid--order-7 {
        order: 7;
    }

    .cell-collage-grid--order-8 {
        order: 8;
    }
}

@media (max-width: 599px) {
    .elements-form__inputs {
        gap: 20px;
    }

    .inputs-elements__input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header-inner {
        padding-top: 40px;
    }

    .info-inner {
        padding: 73px 0;
        gap: 65px;
    }

    .info__img {
        width: 100%;
    }

    .info__article {
        gap: 40px;
    }

    .about-inner {
        padding: 90px 0 80px 0;
    }

    .projects-inner {
        padding: 80px 0;
    }

    .skills-inner {
        padding: 82px 0;
    }

    .video-inner {
        padding: 90px 0;
    }

    .player-video__button {
        width: 20%;
    }

    .сollage-inner {
        padding: 34px 0;
    }

    .collage-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .cell-collage-grid--order-3 {
        order: 3;
    }

    .cell-collage-grid--order-4 {
        order: 4;
    }

    .cell-collage-grid--order-7 {
        order: 8;
    }

    .cell-collage-grid--order-8 {
        order: 7;
    }

    .section-form-inner {
        gap: 48px;
    }

    .footer-inner {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
}