@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*, *::after, *::before {
box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.64;
    background-color: #EEEFF1;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.button {
    background-color: #34547A;
    color: #FFF;
    padding: 25px 41px;
    font-family: "Robobto", sans-serif;
    font-size: 16px;
    line-height: 0.93;
    letter-spacing: 0.05em;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

/* HEADER */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    background-color: #EEEFF1;
}

.header-inner__nav {
    display: flex;
    justify-content: space-between;
    max-width: 612px;
    width: 100%;
}

.nav-header-inner__link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.link-nav-header-inner--active {
    color: #34547A;
}

/* INFO */

.info-inner {
    display: flex;
    justify-content:end;
    align-items:center;
    gap: 130px;
    padding: 146px 0;
}

.info-inner__article {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 60px;
    max-width: 540px;
    width: 100%;
}

.article-intro-inner__title {
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 1;
}

.article-intro-inner__text {
    color: #727272;
    margin: 0;
}

/* ABOUT */

.about {
    background-color: #fff;
}

.about-inner {
    padding: 120px 0 100px 0;
}

.about-inner__article {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.article-about-inner__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 50px 0;
}

.article-about-inner__text {
    color: #727272;
}


.projects {
    background-color: #34547A;
}

.projects-inner {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-inner__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    width: 100%;
}

.item-projects__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFF;

}

.info-item-projects__number {
    margin: 0;
    font-size: 21px;
    line-height: 1;

}

.info-item-projects__text {
    margin: 0;
    line-height: 0.94;
}
